*{
    box-sizing: border-box;
}
.fullCenter{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}
#formulario{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}